.lala {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/carousel1.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    width: 18rem;
}